li {
  list-style: none;
}

html {
  height: 100%;
}

html body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

html body .top_wp {
  border-top: 5px solid #efd8d2;
  background: #fff;
  display: flex;
  justify-content: center;
}

html body .top_wp:after {
  content: '.';
  clear: both;
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

html body .top_wp .inner {
  height: 72px;
  width: 1200px;
  display: flex;
}

html body .top_wp .inner .lef {
  width: 150px;
  display: flex;
  justify-content: start;
  align-items: center;
}

html body .top_wp .inner .lef a {
  display: block;
  text-decoration: none;
}

html body .top_wp .inner .lef a img {
  display: block;
}

html body .top_wp .inner .mid {
  width: 616px;
}

html body .top_wp .inner .mid .tnav {
  margin: 0;
  padding: 0;
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}

html body .top_wp .inner .mid .tnav li {
  padding: 0 23px;
  height: 26px;
}

html body .top_wp .inner .mid .tnav li a {
  display: block;
  text-decoration: none;
  color: black;
  padding: 0 3px;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid transparent;
}

html body .top_wp .inner .rig {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

html body .top_wp .inner .rig #ssuo {
  margin-left: 200px;
  border-bottom: 1px solid transparent;
  display: flex;
}

html body .top_wp .inner .rig #ssuo input {
  width: 25px;
  display: block;
  visibility: hidden;
  outline: none;
  border: none;
}

html body .top_wp .inner .rig #ssuo a {
  display: block;
  text-decoration: none;
  width: 25px;
  text-align: center;
  line-height: 25px;
  height: 25px;
}

html body .top_wp .inner .rig #ssuo a span {
  color: #666;
  font-size: 16px;
  font-weight: 900;
}

html body .top_wp .inner .rig .ren {
  margin-left: 20px;
  font-size: 16px;
  font-weight: 900;
  text-align: right;
}

html body .top_wp .inner .rig .bao {
  margin-left: 20px;
  font-size: 16px;
  text-align: right;
  font-weight: 900;
}

html body .top_wp .inner .rig a {
  display: block;
  text-decoration: none;
  color: #666;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 25px;
}

html body .top_wp .inner .rig a:last-child {
  width: 56px;
  text-align: right;
  color: black;
}

html body .fot_wp {
  background: #f9ece1;
  display: flex;
  justify-content: center;
}

html body .fot_wp:after {
  content: '.';
  clear: both;
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

html body .fot_wp .inner {
  width: 1200px;
  height: 628px;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
}

html body .fot_wp .inner .above {
  width: 100%;
  height: 217px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

html body .fot_wp .inner .above ul {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
}

html body .fot_wp .inner .above ul li {
  width: 153px;
}

html body .fot_wp .inner .above ul li span {
  display: block;
  padding-bottom: 23px;
  font-weight: 900;
}

html body .fot_wp .inner .above ul li a {
  height: 34.5px;
  display: block;
  color: #000;
}

html body .fot_wp .inner .mid {
  width: 100%;
  height: 101px;
  padding-top: 45px;
}

html body .fot_wp .inner .mid div {
  height: 40px;
}

html body .fot_wp .inner .mid div a {
  font-size: 12px;
  color: #666;
}

html body .fot_wp .inner .mid div a:hover {
  color: #000;
}

html body .fot_wp .inner .mid div span {
  color: #666;
  font-size: 12px;
}

html body .fot_wp .inner .mid p {
  font-size: 12px;
  line-height: 1;
  color: #666;
}

html body .fot_wp .inner .down {
  flex: 1;
  display: flex;
  flex-direction: column;
}

html body .fot_wp .inner .down .leg {
  display: block;
  height: 25px;
  color: #666;
  padding-top: 10px;
}

html body .fot_wp .inner .down .leg:hover {
  color: #000;
}

html body .fot_wp .inner .down .fot {
  height: 50px;
  overflow: hidden;
}

html body .fot_wp .inner .down .fot .nav {
  margin: 0;
  padding: 0;
  width: 100%;
  margin-top: 10px;
  height: 100px;
}

html body .fot_wp .inner .down .fot .nav li {
  height: 25px;
  width: 100%;
  display: flex;
}

html body .fot_wp .inner .down .fot .nav li a {
  margin: 0;
  padding: 0;
  display: block;
  padding-right: 10px;
  text-align: left;
  font-size: 12px;
  background: transparent;
  color: #666;
}

html body .fot_wp .inner .down .fot .nav li a:hover {
  text-decoration: underline;
  color: black;
}

html body .fot_wp .inner .down .ft {
  padding: 25px 0 90px;
  flex: 1;
  width: 100%;
  display: flex;
}

html body .fot_wp .inner .down .ft a {
  display: block;
  text-decoration: none;
  height: 33px;
  text-align: left;
}

html body .fot_wp .inner .down .ft a:last-child {
  position: relative;
}

html body .fot_wp .inner .down .ft a:last-child span {
  color: #001b75;
  font-size: 8px;
  display: block;
  width: 60px;
  line-height: 1;
  position: absolute;
  transform: scaleX(0.7);
  bottom: 3px;
  right: 15px;
}

html body .fot_wp .inner .down .ft img {
  margin: 0;
  padding: 0;
  height: 33px;
}

.fixed {
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 40px;
  height: 40px;
  display: none;
  z-index: 100;
  background-position: 0 -40px;
  overflow: hidden;
  background: url(http://img.zbird.cn/ww3/header/s_totop.jpg);
  cursor: pointer;
}

.fixed:hover {
  background-position: 40px -40px;
}

.h_box {
  height: 492px;
  width: 100%;
  display: none;
  background: white;
  position: absolute;
  top: 72px;
  left: 0;
  z-index: 10;
}

.h_box:nth-child(2) .greybg {
  background: url(../images/greybg.png) repeat;
  position: absolute;
  top: 0;
  left: 0;
  height: 5px;
  width: 100%;
  z-index: 105;
}

.h_box .child_b {
  width: 1200px;
  height: 454px;
  margin-left: auto;
  margin-right: auto;
  display: none;
  background: white;
  display: flex;
  justify-content: space-between;
}

.h_box .child_b:nth-child(3) {
  background: white;
}

.h_box .child_b:nth-child(3) > div:nth-child(2) > a {
  width: 127px;
}

.h_box .child_b:nth-child(4) {
  background: white;
}

.h_box .child_b:nth-child(4) > div:nth-child(2) {
  flex-direction: column;
}

.h_box .child_b:nth-child(4) > div:nth-child(2) > a {
  width: 127px;
}

.h_box .child_b:nth-child(5) {
  background: white;
}

.h_box .child_b:nth-child(5) > div:nth-child(2) {
  flex-direction: column;
}

.h_box .child_b:nth-child(5) > div:nth-child(2) > a {
  width: 127px;
}

.h_box .child_b:nth-child(6) {
  background: white;
}

.h_box .child_b:nth-child(6) > div:nth-child(2) {
  flex-direction: column;
}

.h_box .child_b:nth-child(6) > div:nth-child(2) > a {
  width: 127px;
}

.h_box .child_b:nth-child(7) {
  background: white;
}

.h_box .child_b:nth-child(7) > div:nth-child(2) {
  flex-direction: column;
}

.h_box .child_b:nth-child(7) > div:nth-child(2) > a {
  width: 127px;
}

.h_box .child_b div {
  display: flex;
  flex-direction: column;
  padding-top: 70px;
}

.h_box .child_b div:first-child {
  width: 215px;
}

.h_box .child_b div:nth-child(2) {
  width: 220px;
  flex-direction: row;
  flex-wrap: wrap;
}

.h_box .child_b div:nth-child(2) span {
  width: 100%;
  flex-shrink: 0;
}

.h_box .child_b div:nth-child(2) > a {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  width: 99px;
}

.h_box .child_b div:nth-child(2) > a img {
  margin-right: 15px;
  width: 32px;
  height: 26px;
}

.h_box .child_b div:nth-child(2) > a:nth-child(6), .h_box .child_b div:nth-child(2) > a:nth-child(7), .h_box .child_b div:nth-child(2) > a:nth-child(8), .h_box .child_b div:nth-child(2) > a:nth-child(9) {
  width: 127px;
}

.h_box .child_b div:nth-child(3) {
  width: 184px;
}

.h_box .child_b div:last-child a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
}

.h_box .child_b div:last-child a img {
  display: block;
  border: none;
}

.h_box .child_b div:last-child a span {
  display: block;
}

.h_box .child_b div > a {
  height: 48px;
  line-height: 48px;
  display: block;
  color: #000;
}

.h_box .child_b div > span {
  height: 48px;
  line-height: 48px;
  display: block;
  color: #000;
}

.fixrig {
  position: fixed;
  z-index: 100;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
}

.fixrig > img:first-child {
  margin-bottom: 2px;
}
