$r100:100px;
$spbtn:space-between;
$b100:100%;
$block:block;
$left:left;
$right:right;
$both:both;
$hidden:hidden;
$zero:0;
$yi:1;
$absolute:absolute;
$flex:flex;
$start:start;
$end:end;
$column:column;
$center:center;
$none:none;
// color
$transparent:transparent;
$white:#fff;
$pink:pink;
$black:black;
@mixin qul{
    margin: 0;
    padding: 0;
}
@mixin clean {
    content: '.';
    clear: $both;
    display: $block;
    height:$zero;
    overflow: $hidden;
    visibility: $hidden;
}
li{
    list-style: $none;
}
@mixin ac {
    display: $block;
    text-decoration: $none;
}

.mid_wp{
    &:after{
        @include clean();
    }
    background: $white;
    flex: $yi;
    display: $flex;
    justify-content: $center;
    .inner{
        width: 1200px;
        display: $flex;
        flex-direction: $column;
        align-items: $center;
        .rareshow{
            display: $flex;
            flex-direction: $column;
            align-items: $center;
            height: 575px;
            width: $b100;
            background: rgb(255, 255, 255);
            .top{
                height: 79px;
                width: 1180px;
                background: url(../images/detibg.jpg) no-repeat;
                display: $flex;
                justify-content: $spbtn;
                align-items: $center;
                span{
                    font-size: 18px;
                    color: #000;
                    font-family: "宋体";
                    &:first-child{
                        margin-left: 20px;
                    }
                    &:nth-child(2){
                        margin-right: -5px;
                    }
                    &:last-child{
                        display: block;
                        width: 393px;
                        text-indent: 15px;
                        text-align: left;
                    }
                }
            }
            .dow{
                width: 1180px;
                height: 575px;
                background: rgb(255, 255, 255);
                display: $flex;
                flex-wrap: wrap;
                justify-content: $spbtn;
            }
        }
        .topword{
            width: $b100;
            height: 90px;
            line-height: 90px;
            display: $flex;
            align-items: $center;
            align-self: start;
            .xie{
                display: block;
                // background: red;
                margin-top: 4px;
                font-size: 18px;
                text-align: center;
                line-height: 90px;
            }
            a{
                    font-size: 14px;
                    color: #000;
                    text-decoration: $none;
            }
            
        }
    }
}
.bigbox{
    width: 400px;
    height: 400px;
    background: rgb(255, 255, 255);
    margin:25px 57.5px 0;
    a{
        outline: $none;
        text-decoration: $none;
        img{
            border: $none;
            width: $b100;
            height: $b100;
        }
    }
}
.infobox{
    width: 535px;
    height: 345px;
    margin-top: 18px;
    background: rgb(0, 0, 0);
    display: $flex;
    align-items: $center;
    justify-content: $center;
    input{
        outline: $none;
        display: block;
        width: 150px;
        height: 70px;
        font-size: 56px;
    }
    .minus,.add{
        font: '宋体';font-size: 50px;color: white;font-weight: 700;
        width: 100px;
        height: 100px;
        text-align: $center;
        line-height: 100px;
    }
}
.libox{
    width: 300px;
    height: 62px;
    background: rgb(255, 255, 255);
    margin:3px 57.5px ;
    margin-left: 107.5px;
    display: $flex;
    justify-content: $spbtn;
    & > div{
        &:first-child{
            border-color: #000;
        }
        img{
            width: $b100;
            height: $b100;
        }
        width: 60px;
        height: 60px;
        border: 1px solid #dfdede;
        background: rgb(255, 255, 255);
    }
}
.tip{
    width: 477px;
    height: 40px;
    background: rgb(255, 255, 255);
    display: $flex;
    button{
        display: $block;
        width: 188px;
        height: 33px;
        font-size: 12px;
        color: #fff;
        background: #fdb2a4;
        outline: $none;
        border: $none;
        margin-top: 30px;
    }
    p{
        font-size: 12px;
        color: #999;
        margin-top: 30px;
        padding-left: 10px;
    }
}