$r100:100px;
$spbtn:space-between;
$b100:100%;
$block:block;
$left:left;
$right:right;
$both:both;
$hidden:hidden;
$zero:0;
$yi:1;
$absolute:absolute;
$flex:flex;
$start:start;
$end:end;
$column:column;
$center:center;
$none:none;
// color
$transparent:transparent;
$white:#fff;
$pink:pink;
$black:black;
@mixin qul{
    margin: 0;
    padding: 0;
}
@mixin clean {
    content: '.';
    clear: $both;
    display: $block;
    height:$zero;
    overflow: $hidden;
    visibility: $hidden;
}
li{
    list-style: $none;
}
@mixin ac {
    display: $block;
    text-decoration: $none;
}
.mid_wp{
    &:after{
        @include clean();
    }
    background: $pink;
    flex: $yi;
    display: $flex;
    justify-content: $center;
    .inner{
        &::after{
            @include clean();
        }
        width: 1200px;
        // 首页轮播
// -----------------------------------------------------------
.t_ul{
    // 去掉滚动图片的小黑点样式
    @include qul();
    list-style: $none; 
    width: $b100;
    height: 666px;    
    position: relative;  // 设置想对定位
    // 重新定义一个ul用li来实现小黑点样式
    display: $flex;
    justify-content: $center;
    & > li{
        width: $b100;
        height: $b100;
        position: $absolute;
        display: $flex;
        justify-content: $center;
        a{
            display: block;
            width: $b100;
            height: $b100;
            display: $flex;
            justify-content: center;
            img{
                cursor: pointer;
            }
        }
    }
    .dot{
        @include qul();
        width: 54px;
        height: 8px;
        position: $absolute;
        z-index: 50;
        bottom: 32px;
        background: $transparent;
        display: $flex;
        justify-content: $spbtn;
        align-items: $center;
        & > li{
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: rgb(255, 255, 255);
        }
        .banner_btn{
            background: #f09276;
        }
    }
}
        .search{
            width: $b100;
            height: 293.5px;
            background: rgb(255, 255, 255);
            border-bottom: 1px solid #e5e5e5;
            .up{
                display: $flex;
                align-items: $center;
                padding-top: 80px;
                .linel,.liner{
                    width: 475px;
                    border-bottom: 1px solid #e5e5e5;
                }
                span{
                    font-size: 30px;
                    color: $black;
                    display: $block;
                    width: 250px;
                    overflow: hidden;
                    text-align: center;
                    height: 35px;
                }
            }
            .under{
                width: $b100;
                margin-top: 45px;
                height: 56px;
                display: $flex;
                justify-content: center;
                .basebox{
                    width: 580px;
                    height: $b100;
                    border: 1px solid #000;
                    display: $flex;
                    align-items: $center;
                    font-size: 20px;
                    font-weight: 900;
                    color: #999;
                    span{
                        font-size: 14px;
                        color: #000;
                        display: $block;
                        height: 20px;
                        line-height: 23px;
                        font-weight:normal;
                        margin-left: 10px;
                    }
                    .shub{
                        width: 1px;
                        background: #999;
                        height: 25px;
                        margin-left: 5px;
                    }
                    .goul,.gour{
                        display: block;
                        width: 16px;
                        margin-top: 0;
                        height: 16px;
                        margin-left: 40px;
                    }
                    .dotk{
                        display: $block;
                        width: 200px;
                        height: 50px;
                        margin-left: 25px;
                        outline: $none;
                        border: $none;
                        margin-right: 5px;
                    }

                }
            }
            .suobtn{
                display: block;
                width: 148px;
                border: $none;
                outline: $none;
                height: 56px;
                background: #000;
                color: #fff;
                margin-left: 25px;
                font-size: 14px;
                span{
                    color: $white;
                    font-size: 18px;
                    margin-right: 15px;
                }
            }
        }
        .showpic{
            width: $b100;
            height: 1089px;
            background: rgb(255, 255, 255);
            display: $flex;
            justify-content: $spbtn;
            .picr{
                display: $flex;
                flex-direction: $column;
                justify-content: $spbtn;
            }
            .picl{
                width: 716px;
                display: $flex;
                flex-wrap: wrap;
                justify-content: $spbtn;
            }
            a{
                &:first-child{
                    margin-bottom: 27px;
                }
                display: block;
                text-decoration: $none;
                img{
                    @include qul();
                    border: $none;
                }
            }
        }
    }
}