$r100:100px;
$spbtn:space-between;
$b100:100%;
$block:block;
$left:left;
$right:right;
$both:both;
$hidden:hidden;
$zero:0;
$yi:1;
$absolute:absolute;
$flex:flex;
$start:start;
$end:end;
$column:column;
$center:center;
$none:none;
// color
$transparent:transparent;
$white:#fff;
$pink:pink;
$black:black;
@mixin qul{
    margin: 0;
    padding: 0;
}
@mixin clean {
    content: '.';
    clear: $both;
    display: $block;
    height:$zero;
    overflow: $hidden;
    visibility: $hidden;
}
li{
    list-style: $none;
}
@mixin ac {
    display: $block;
    text-decoration: $none;
}
.mid_wp{
    &:after{
        @include clean();
    }
    background: white;
    flex: $yi;
    display: $flex;
    justify-content: $center;
    .inner{
        &::after{
            @include clean();
        }
        width: 1200px;
        // 首页轮播
// -----------------------------------------------------------
        .t_ul{
            // 去掉滚动图片的小黑点样式
            @include qul();
            list-style: $none; 
            width: $b100;
            height: 666px;    
            position: relative;  // 设置想对定位
            // 重新定义一个ul用li来实现小黑点样式
            display: $flex;
            justify-content: $center;
            & > li{
                width: $b100;
                height: $b100;
                position: $absolute;
                display: $flex;
                justify-content: $center;
                a{
                    display: block;
                    width: $b100;
                    height: $b100;
                    display: $flex;
                    justify-content: center;
                    img{
                        cursor: pointer;
                    }
                }
            }
            .dot{
                @include qul();
                width: 54px;
                height: 8px;
                position: $absolute;
                z-index: 50;
                bottom: 32px;
                background: $transparent;
                display: $flex;
                justify-content: $spbtn;
                align-items: $center;
                & > li{
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    background: rgb(255, 255, 255);
                }
                .banner_btn{
                    background: #f09276;
                }
            }
        }
        .search{
            width: $b100;
            height: 293.5px;
            background: rgb(255, 255, 255);
            border-bottom: 1px solid #e5e5e5;
            .up{
                display: $flex;
                align-items: $center;
                padding-top: 80px;
                .linel,.liner{
                    width: 475px;
                    border-bottom: 1px solid #e5e5e5;
                }
                span{
                    font-size: 30px;
                    color: $black;
                    display: $block;
                    width: 250px;
                    overflow: hidden;
                    text-align: center;
                    height: 35px;
                }
            }
            .under{
                width: $b100;
                margin-top: 45px;
                height: 56px;
                display: $flex;
                justify-content: center;
                .basebox{
                    width: 580px;
                    height: $b100;
                    border: 1px solid #000;
                    display: $flex;
                    align-items: $center;
                    font-size: 20px;
                    font-weight: 900;
                    color: #999;
                    span{
                        font-size: 14px;
                        color: #000;
                        display: $block;
                        height: 20px;
                        line-height: 23px;
                        font-weight:normal;
                        margin-left: 10px;
                    }
                    .shub{
                        width: 1px;
                        background: #999;
                        height: 25px;
                        margin-left: 5px;
                    }
                    .goul,.gour{
                        display: block;
                        width: 16px;
                        margin-top: 0;
                        height: 16px;
                        margin-left: 40px;
                    }
                    .dotk{
                        display: $block;
                        width: 200px;
                        height: 50px;
                        margin-left: 25px;
                        outline: $none;
                        border: $none;
                        margin-right: 5px;
                    }

                }
            }
            .suobtn{
                display: block;
                width: 148px;
                border: $none;
                outline: $none;
                height: 56px;
                background: #000;
                color: #fff;
                margin-left: 25px;
                font-size: 14px;
                span{
                    color: $white;
                    font-size: 18px;
                    margin-right: 15px;
                }
            }
        }
        .showpic{
            width: $b100;
            height: 1089px;
            background: rgb(255, 255, 255);
            display: $flex;
            justify-content: $spbtn;
            .picr{
                display: $flex;
                flex-direction: $column;
                justify-content: $spbtn;
            }
            .picl{
                width: 716px;
                display: $flex;
                flex-wrap: wrap;
                justify-content: $spbtn;
            }
            a{
                &:first-child{
                    margin-bottom: 27px;
                }
                display: block;
                text-decoration: $none;
                img{
                    @include qul();
                    border: $none;
                }
            }
        }
        
        .morerare{
            width: $b100;
            margin-top: 75px;
            h2{
                height: 72px;
                line-height: 72px;
                text-align: center;
                font-size: 30px;
                font-family: "宋体";
                color: #000;
                margin-bottom: 40px;
                font-weight: normal;
            }
            .morepic{
                padding: 0 150px;
                width: $b100;
                height: 74px;
                background: url(../images/dia_bg.jpg) no-repeat;
                background-position: center;
                display: $flex;
                justify-content: $spbtn;
                a{
                    flex: $yi;
                    height: $b100;
                }
            }
        }

        .hunjbg{
            width: $b100;
            margin-top: 75px;
            height: 533px;
            background: url(../images/hunjbg.jpg) no-repeat;
            background-position: center;
            display: $flex;
            justify-content: $center;
            div{
                &:first-child{
                    margin-right: 20px;
                }
                &:last-child{
                    margin-left: 20px;
                }
                width: 270px;
                height: 50px;
                background: #f1dad4;
                text-align: center;
                line-height: 50px;
                margin-top: 362px;
                a{
                    color: #000;
                    font-size: 14px;
                }
            }
        }
        .dujia{
            width: $b100;
            height: 1040px;
            margin-top: 75px;
            .djbg{
                height: 193px;
                height: 86px;
                background: url(../images/dujiabg.jpg) no-repeat;
                background-position: $center;
                margin-bottom: 65px;
            }
            .djshow{
                width: $b100;
                display: $flex;
                justify-content: $spbtn;
                flex-wrap: wrap;
                & > div{
                    border-top: 1px solid #000;
                    width: 571px;
                    height: 414px;
                    background: rgb(255, 255, 255);
                    div{
                        width: 254px;
                        height: 45px;
                        margin: 15px 0 14px;
                        a{
                            display: block;
                            width: $b100;
                            height: $b100;
                        }
                    }
                    .djt1{
                        background: url(../images/dj1.jpg) no-repeat;
                    }
                    .djt2{
                        background: url(../images/dj2.jpg) no-repeat;

                    }
                    .djt3{
                        background: url(../images/dj3.jpg) no-repeat;
                    }
                    .djt4{
                        background: url(../images/dj4.jpg) no-repeat;

                    }
                    &:last-child,&:nth-child(3){
                        margin-top: 30px;
                    }
                    p{
                        height: 70px;
                        line-height: 70px;
                        text-align: left;
                        @include qul();
                        a{
                            font-size: 14px;
                            color: #000;
                        }
                    }
                }
            }
        }
        .tradition{
            width: $b100;
            height: 639px;
            display: $flex;
            flex-direction: $column;
            align-items: $center;
            h2{
                height: 72px;
                line-height: 72px;
                text-align: center;
                font-size: 30px;
                font-family: "宋体";
                color: #000;
                margin-bottom: 40px;
                font-weight: normal; 
            }
            .tradi_lunbo{
                width: $b100;
                height: 372px;
                background: rgb(255, 255, 255);
            }
        }

    }
}

// 经典块轮播图
.tradi_lunbo{
.swiper-container{
    width: $b100;
    height: $b100;
}
.swiper-button-next::after,.swiper-button-prev::after{
    color: #000;
    font-size: 25px;
}
    .swiper-slide {
        height: $b100;
        width: 373px;
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
}

// 热门系列选购
.hot_wp{
    &::after{
        @include clean();
    }
    
    background: #f9ece1;
    display: flex;
    justify-content: center;
    .inner{
        width: 1200px;
        background-color: rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        height: 674px;
        .tittext{
            width: $b100;
            height: 90px;
            background: #f9ece1;
            h2{
                width: $b100;
                font-size: 30px;
                font-family: "宋体";
                height: 50px;
                color: #000;
                text-align: center;
                font-weight: normal;
                margin-bottom: 0;
            }
            p{
                font-size: 14px;
                color: #000;
                text-align: center;
                margin: 0;
            }
        }
       .dow{
            width: $b100;
            flex: 1;
            background: #f9ece1;
            display: $flex;
            justify-content: space-between;
            .lbox,.rbox{
                width: 571px;
                background: $white;
                height: 513px;
                margin-top: 10px;
                display: $flex;
                flex-direction: column;
                align-items: center;
                background: #f9ece1;
                .to{
                    width: 80px;
                    height: 80px;
                    
                    
                        background: url(../images/huan.jpg) no-repeat center;
                    
            
                }
                .to:last-child{
                    background: url(../images/lian.jpg) no-repeat center;
                }
                .seclunb,.thrlunb{
                    width: 571px;
                    height: 360px;
                    background:#f9ece1;
                    position: relative;
                    & > p{
                        position: absolute;
                        bottom: 15px;
                        left: 50%;
                        transform: translateX(-50%);
                        height: 66px;
                        line-height: 66px;
                        font-size: 14px;
                        width: $b100;
                        text-align: center;
                    }
                }
            }
       }
    }
}
.know{
    &::after{
        @include clean();
    }
    
    display: flex;
    justify-content: center;
    .inner{
        width: 1200px;
        height: 435px;
        display: flex;
        flex-direction: column;
        .tit{
            height: 60px;
            width: $b100;
            text-align: center;
            font-size: 30px;
            font-family: "宋体";
            color: #000;
            line-height: 60px;
        }
        .dow{
            height: 250px;
            margin-top: 50px;
            width: $b100;
            background: url(../images/know.jpg) no-repeat center;
            display: flex;
            justify-content: space-between;
        }
        .word{
            width: $b100;
            height: 20px;
            display: flex;
            justify-content: space-between;
            p{
                flex: 1;
                text-align: center;
            }
        }
    }
}

.why{
    &::after{
        @include clean();
        
    }
    display: flex;
    justify-content: center;
    border-top: 1px solid #f1dad4;
    border-bottom: 1px solid #f1dad4;
    .inner{
        width: 1200px;
        height: 178px;
        display: flex;
        flex-direction: column;
        align-items: center;
        h2{
            width: 250px;
            background: #fff;
            padding: 0 20px;
            height: 73px;
            font-size: 30px;
            font-weight: normal;
            text-align: center;
            margin-top: -20px;
        }
        .dow{
            width: 1000px;
            height: 56px;
            background: url(../images/why.jpg) no-repeat center;
        }
    }
}
tradition{
    overflow: hidden;
}
.test{
    &::after{
        @include clean();
    }
    display: flex;
    justify-content: center;
    .inner{
        width: 1200px;
        height: 630px;
        display: flex;
        justify-content: space-between;
        &>div{
            width: 571px;
            height: 510px;
            background: rgb(255, 255, 255);
            display: flex;
            flex-direction: column;
            align-items: center;
            &>img{
                margin-top: 45px;
            }
            p{
                margin-top: 75px;
                width: 220px;
                height: 40px;
                display: flex;
                img{
                    padding-right: 15px;
                }
                span{
                    font-size: 32px;
                    color: #000;
                }
            }
            a{
                width: 220px;
                display: block;
                text-align: left;
                color: #000;
                font-size: 14px;
            }
        }
    }
}