$r100:100px;
$spbtn:space-between;
$b100:100%;
$block:block;
$left:left;
$right:right;
$both:both;
$hidden:hidden;
$zero:0;
$yi:1;
$absolute:absolute;
$flex:flex;
$start:start;
$end:end;
$column:column;
$center:center;
$none:none;
// color
$transparent:transparent;
$white:#fff;
$pink:rgb(255, 255, 255);
$black:black;
@mixin qul{
    margin: 0;
    padding: 0;
}
@mixin clean {
    content: '.';
    clear: $both;
    display: $block;
    height:$zero;
    overflow: $hidden;
    visibility: $hidden;
}
li{
    list-style: $none;
}
@mixin ac {
    display: $block;
    text-decoration: $none;
}

.mid_wp{
    &:after{
        @include clean();
    }
    background: $pink;
    flex: $yi;
    display: $flex;
    justify-content: $center;
    .inner{
        width: 1200px;
        height: 654px;
        background: $pink;
        display: $flex;
        justify-content: $spbtn;
        img{
            border: &none;
            display: block;
            width: 431px;
            height: 336px;
            margin: 135px 0 0 65px;
        }
        .dlbox{
            margin-top: 135px;
            background: rgb(255, 255, 255);
            height: 390px;
            width: 450px;
            input{
                display: block;
                width: 438px;
                margin-left: auto;
                margin-right: auto;
                margin-top: 39px;
                height: 46px;
                outline: $none;
                font-size: 14px;
                text-indent: 20px;
                font-family: "微软雅黑";
                border: 1px solid $black;
            }
            input:nth-child(1){
                margin-top: 39px;
            }
            input:nth-child(2){
                margin-top: 20px;
                float: left;
                width: 280px;
                margin-left: 6px;
            }
            input:nth-child(4){
                margin-top: 20px;
                float: left;
                width: 280px;
                margin-left: 6px;
            }
            .yanzm{
                width: 158px;
                height: 46px;
                border: 1px solid #000;
                float: right;
                margin-top: 20px;
                margin-right: 6px;
                border-left: $none;
                background: $white;
            }
            .huoqu{
                width: 158px;
                height: 46px;
                border: 1px solid #000;
                float: right;
                margin-top: 20px;
                margin-right: 6px;
                border-left: $none;
                background: #f0d9d3;
                font-size: 14px;
                outline: $none;
                
            }
            .dlbtn{
                outline: $none;
                border: $none;
                width: 440px;
                height: 46px;
                background: $black;
                font-size: 14px;
                color: $white;
                margin-top: 20px;
                border: 1px solid #000;
                border-left: $none;
                border-right:$none;
                padding: 0;
                margin-left: 5px;
            }
            .dlpage{
                display: $none;
                input{
                    display: block;
                    width: 438px;
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: 39px;
                    height: 46px;
                    outline: $none;
                    font-size: 14px;
                    text-indent: 20px;
                    font-family: "微软雅黑";
                    border: 1px solid $black;
                    &:nth-child(2){
                        margin-top: 20px;
                        margin-left: 6px;
                    }

                }
                .shu{
                    display: inline-block;
                    margin-top: 25px;
                    transform: translateY(5px);
                    
                }
                .weixin{
                    margin-right: 5px;
                }
                .icon-weixing{
                    margin-top: 25px;
                    font-size: 17px;
                    margin-right: 5px;
                    color: #000;
                    margin-left: 6px;
                }
                .icon-QQ{
                    margin-top: 25px;
                    margin-left: 5px;
                    font-size: 17px;
                    color: #000;
                    transform: translateY(4px);
                }
                .mima{
                    float: right;
                    margin-top: 17px;
                }
                .checkbox{
                    float: left;
                    margin-top: 17px;
                    margin-left: 6px;
                    width: 25px;
                    height: 25px;
                    color: #000;
                }
                a{
                    // text-decoration: $none;
                    color: #000;
                    font-family: "微软雅黑";
                }
            }
            .th{
                width: $b100;
                height: 55px;
                border-bottom: 2px solid #ccc;
                span{
                    display: inline-block;
                    text-align: $center;
                    font-size: 24px;
                    margin-top: 2px;
                    line-height: 55px;
                    color: #000;
                    border-bottom:2px solid #000;
                    width: 50%;
                    height: $b100;
                    &:nth-child(2){
                        border-color: transparent;
                        color: #ccc;
                    }
                }
            }
        }
    }
}