$r100:100px;
$spbtn:space-between;
$b100:100%;
$block:block;
$left:left;
$right:right;
$both:both;
$hidden:hidden;
$zero:0;
$yi:1;
$absolute:absolute;
$flex:flex;
$start:start;
$end:end;
$column:column;
$center:center;
$none:none;
// color
$transparent:transparent;
$white:#fff;
$pink:pink;
$black:black;
@mixin qul{
    margin: 0;
    padding: 0;
}
@mixin clean {
    content: '.';
    clear: $both;
    display: $block;
    height:$zero;
    overflow: $hidden;
    visibility: $hidden;
}
li{
    list-style: $none;
}
@mixin ac {
    display: $block;
    text-decoration: $none;
}

.mid_wp{
    &:after{
        @include clean();
    }
    background: white;
    flex: $yi;
    display: $flex;
    justify-content: $center;
    .inner{
        width: 1200px;
        height: 700px;
        background: rgb(255, 255, 255);
        .count{
            width: $b100;
            height: 50px;
            border-top: 1px solid #000;
            background: rgb(255, 255, 255);
            display: $flex;
            justify-content: space-between;
            .l{
                width: 220px;
                display: $flex;
                align-items: $center;
                div{
                    &:first-child{
                        margin-right: 8px;

                    }
                    &:last-child{
                        margin-left: 8px;
                    }
                    text-decoration:underline #000;
                    // border-bottom: 1px solid #000;        
                    display: inline-block;
                }
            }
            .r{
                background: white;
                width: 450px;
                display: $flex;
                align-items: $center;
                justify-content: $center;
                div{
                    display: inline-block;
                   
            }
            span{
                display: block;
                background: rgb(255, 255, 255);
                width: 100px;
                height: 50px;
                text-align: $center;
                line-height: 50px;
                color: rgb(228, 31, 31);
                font-size: 14px;
            }
        }
        }
        .tit{
            width: $b100;
            height: 80px;
            background: #999;
            display: flex;
            justify-content: space-around;
            align-items: $center;

        }
        .box{
            width: 1200px;
            height: 150px;
            background: rgb(172, 72, 72);
            display: flex;
            div{
                width: 300px;
                height: $b100;
                
    line-height: 150px;
    text-align: center;
            }
        }
        button{
            margin-top: 25px;
            outline: $none;
            border: $none;
            width: 200px;
            height: 50px;
            background: #000;
            color: #fff;
            font-size: 14px;
            float: right;
            a{
                color: white;
                text-decoration: $none;
            }
        }
    }
}
.box .lef{

    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    img{
        width: 100px;
        height: 100px;
    }
    span{
    flex: 1;
    height: 100px;
    text-align: center;
    line-height: 100px;
    background: rgb(255, 255, 255);    
    }
}
.box .mid{

    background: rgb(255, 255, 255);
    line-height: 150px;
    text-align: center;
}
.box .rig{
   
    background: rgb(255, 255, 255);
}
.dele{
    a{
        color: rgb(255, 255, 255);
    }
}
